* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

header {
    height: 100px;
    background:lightblue;
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
    border: none;

}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a{
    padding:0 20px ;
    text-decoration:none;
    color: brown;
    display: inline-block;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: lightcoral;
    transition: all .5s;
}

li a:hover::after{
    width: 100%;
}

main{
    display: flex;
    border:1px solid violet;
    height:calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.shopping_img{
    max-width: 670px;
    height: auto;
}

.content-right{
    width: 30%;
}

.logo {
    border: none;
    border-radius: 100px;
    
}

main h1{
    font-size: 54px;
    color:green;
    text-transform:uppercase;
    padding-bottom: 15px;
}

main h2{
    font-size:25px;
    color:brown;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6 px;
    padding-bottom: 20px;
}

main p{
    font-size: 14px;
    font-weight: 400;
    color: black;
    padding-bottom: 20px;
}

.btn{
    padding: 10px 30px;
    border-radius: 50px;
    background: #c4c4c4;
    color: aliceblue;
    border: none;
    outline:plum;
    font-weight: 700;
    text-transform: uppercase;
}

.signup{
    padding: 8px 50px;
    background:plum;
    outline: plum;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;

}